@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

/*nav-bar section*/
.section-title {
    display: flex;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 20px 150px;


}

.follow li i {
    margin-right: 10px;
}

.nav-icon1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    color: #0B0223;
}

.span-g {
    color: rgb(232, 69, 123);
}

.follow {
    display: flex;
    border-radius: 8px;
    align-items: center;
    background: rgba(11, 2, 35, 0.10);
    padding: 15px 20px;
}

.nav-text {
    display: flex;
}

.nav-text li {
    list-style: none;
    margin-right: 20px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.nav-text a {
    text-decoration: none;
    text-align: center;
    color: #3C354F;
}

.nav-link {
    align-items: centers;
}

.nav-link ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

/*banner section*/
.banner {
    display: flex;
    justify-content: space-around;

}

.banner-text {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    background-image: url('../images/Group 14.png');
    width: 100%;
    height: 500px;
    background-size: contain;
    padding-left: 200px;
    padding-top: 200px;


}

.play {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    padding-bottom: 10px;

}

.goat {
    color: #b8178b;
    font-size: 95px;
    font-weight: 800;
    padding-bottom: 10px;
}

.banner ul li {
    padding-bottom: 30px;
    list-style: none;
}

.sign {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    border-radius: 48px;
    background: #FF42A5;
    padding: 21px 40px;
    border-color: #FF42A5;
    margin-right: 50px;
    text-align: left;
}

.rogue {
    border-radius: 48px;
    background: #4EC5F7;
    padding: 21px 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    border-color: #4EC5F7;
}

.banner-img {
    margin-left: 100px;
}

.btn-banner {
    padding-top: 30px;


}



/*videos*/
.videos {
    text-align: center;
    margin-top: 90px;

}

.videos h1 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 12px;
}

.videos p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}

.videos-game {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 35px;
    text-align: left;
}

.videos-game p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.videos-game img {
    width: 280px;
    height: 330px;
    margin-bottom: 20px;

}



.game{
    position: relative;
}
.game img{
    display: block;

}

.overlay{
    position:absolute;
    top: 0px;
    left: 0;
    width: 280px;
    height: 330px;
    background: rgb(0,0,0,0.6);
    color: #FF42A5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;

}
.overlay p{
    color: #FF42A5;
}
.overlay:hover{
    opacity: 1;
}

.funny {
    color: #b8178b;
}

/*features*/
.features {
    display: flex;
    justify-content: space-around;
    margin-top: 130px;
    gap: 100px;
}

.feature-content h1 {
    font-size: 48px;
    font-weight: 500;
    text-align: right;
    padding-top: 200px;
    margin-bottom: 30px;
}

.feature-content p {
    color: #534C64;
    font-size: 18px;
    font-weight: 250;
    text-align: right;
}

.feature-img-short {
    border-radius: 8px;
    background: #FFF;
    color: #FFF;
    width: 342px;
    padding: 5px 0px;
    text-align: center;
    position: relative;
    bottom: 100px;
    right: 200px;

}

/* tab sections */
.tab-name {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 15px;
    row-gap: 50px;
    align-items: center;
    list-style: none;
    margin-left: 150px;
    margin-right: 100px;
}

.tab-name img {
    width: 30px;
    height: 30px;
}

.tab-name li a {
    display: flex;
    align-items: center;
    gap: 7px;
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.tab-name li:hover {
    border-radius: 50px;
    border: 2px solid #F948B2;
    padding: 5px;
}


/* footer part */
footer .nav-icon1 {
    justify-content: center;
    color: #FFF;
    margin-bottom: 50px;
}

.footer {
    background: #0B0223;
    height: 300px;
    padding: 200px;
    margin-top: 100px;

}

.footer-list ul,
.footer-policy ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
    list-style: none;
}

.footer-list a,
.footer-policy a {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    list-style: none;
    text-decoration: none;
}

.footer-icon ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
    list-style: none;
}

.footer-text {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;

}
























/*mobile*/
@media screen and (max-width: 576px) {

    nav,
    .nav-text,
    .features {
        flex-direction: column;

    }

    nav li,
    .nav-icon1 {
        padding-bottom: 20px;
    }

    .follow {

        width: 250px;
        text-align: center;
        padding-bottom: 0px;
        padding-left: 40px;
    }

    .follow li i,
    .banner-text {
        padding-left: 10px;
    }

    .banner {
        flex-direction: column-reverse;

    }

    .banner img {
        width: 100%;
    }

    .banner-img {
        margin-left: 0px;
    }

    .sign {

        margin-right: 10px;

    }


    .videos,
    .videos-game {
        flex-direction: column;
    }

    .feature-img img {
        width: 90%;
        margin-right: 0;

    }

    .feature-img {
        text-align: right;
    }

    .feature-img-short {
        position: relative;
        right: 20px;
        padding: 0px;
    }

    .feature-content h1,
    .feature-content p {

        text-align: center;

    }



    .footer {
        height: 600px;
    }

    .footer-list ul,
    .footer-icon ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-policy ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .tab-name li {
        gap: 0px;
    }

    .tab-name li a {
        font-size: 10px;
        gap: 0px;
    }

    .tab-name {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0;
        margin-top: 10px;
        column-gap: 0px;

    }

    .footer {

        padding: 100px;


    }

    .footer-text {

        color: rgba(255, 255, 255, 0.60);
        align-items: center;
        font-size: 10px;
        font-weight: 500;
        padding: 0px;
        margin: 0px;

    }



}







/*lablet part*/
@media screen and (min-width: 576px) and (max-width: 992px) {

    nav,
    .nav-text,
    .features {
        flex-direction: column;

    }

    .follow li i {
        margin-right: 0px;
    }

    nav li,
    .nav-icon1 {
        padding-bottom: 20px;


    }

    .follow {

        width: 250px;
        text-align: center;
        padding-bottom: 0px;
        padding-left: 40px;
    }

    .follow li i,
    .banner-text {
        padding-left: 20px;



    }

    .nav-icon1 {
        display: flex;
        justify-content: center;
    }

    .banner {
        flex-direction: column-reverse;

    }

    .banner img {
        width: 100%;
    }

    .banner-img {
        margin-left: 0px;
    }

    .videos,
    .videos-game {
        flex-direction: column;
    }

    .videos-game {
        text-align: center;
    }
    .game img{
        padding-left: 100px;
    }

    .feature-img img {
        width: 90%;
        margin-right: 0;

    }

    .feature-img {
        text-align: right;
    }

    .feature-img-short {
        position: relative;
        right: 20px;
        padding: 0px;
    }

    .tab-name li {
        gap: 0px;
    }

    .tab-name li a {
        font-size: 10px;
        gap: 0px;
    }

    .tab-name {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0;
        margin-top: 10px;
        column-gap: 0px;

    }



}