/*work sans font*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/*shared item*/
* {
    font-family: 'Work Sans', sans-serif;

}


/*nav-bar section*/
.section-title {
    display: flex;
    justify-content: space-around;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}

.nav-icon1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    color: #0B0223;
}

.nav-icon1 img {
    width: 86.041px;
    height: 40px;

}

.span-g {
    color: rgb(232, 69, 123);
}

.follow {
    display: flex;
    border-radius: 8px;
    align-items: center;
    background: rgba(11, 2, 35, 0.10);
    width: 290px;
    height: 56px;
}

.follow img {
    width: 33.916px;
    height: 24px;
}

.nav-text {
    display: flex;
}

.nav-text li {
    list-style: none;
    margin-right: 20px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.nav-text a {
    text-decoration: none;
    text-align: center;
    color: #3C354F;
}

.nav-link ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

/*header part*/
.banner {
    display: flex;
    justify-content: space-around;
}

.play {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;

}

.goat {
    color: #b8178b;
    font-size: 95px;
    font-weight: 800;
    margin-top: 0px;

}

.click {


    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-align: left;

}

.sign {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 48px;
    background: #FF42A5;
    padding: 21px 40px;
    border-color: #FF42A5;
}

.rogue {
    border-radius: 48px;
    background: #4EC5F7;
    padding: 21px 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-color: #4EC5F7;
}

.btn-banner {
    display: flex;
    gap: 10px;
}

.banner-text {
    background-image: url('../images/Group 14.png');
    width: 100%;
    height: 700px;
    background-size: contain;
    padding-left: 200px;


}

/*video section*/
.video h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 700;

}

.funny {
    color: #b8178b;
}

.video-text {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.video-img {

    display: flex;
    justify-content: space-around;
    padding-top: 50px;

}

.video-img1 img,
.video-img2 img,
.video-img3 img,
.video-img4 img {
    width: 342px;
    height: 400px;
}

.video-img img:hover {
    border: 2px solid palevioletred;
    border-radius: 8px;
    border-color: #FF42A5;
}





































/*mobile screen*/

@media screen and (max-width: 576px) {
    .section-title, .banner{
        flex-direction: column;
       

        
    }

    .nav-icon1 {
        justify-content: center;
      
    }

    .nav-text{
        flex-direction: column;
        
    }
   
}